HTTP status line parsing

There seem to be a few issues with [the current pattern](https://github.com/nmap/nmap/blob/master/nselib/http.lua#L636) used for parsing the status line in HTTP responses:
```lua
  version, status, reason_phrase = string.match(status_line,
    "^HTTP/(%d%.%d) *(%d+) *(.*)\r?\n$")
```
Per [RFC 2616, Section 6.1](https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1):
* The protocol version should not be limited to digit-dot-digit
* The space delimiters are mandatory
* The trailing CR is not part of the reason phrase

I am proposing the following revision:
```lua
  version, status, reason_phrase = string.match(status_line,
    "^HTTP/(%d+%.%d+) +(%d+) +(.-)\r?\n$")
```
Please let me know if you have any questions or concerns. Otherwise I will commit the change in a few weeks.

@dmiller-nmap FYI
