Nping: add support to set Reserved/Evil bit in ip flags 

I was making a change to Wireshark and still hunting for a sample pcap with the Reserved bit set in the ip.flags.  
Being able to set with `nping` and create my own would be helpful.

Please try the following patch:
https://gist.github.com/nnposter/8fd2a92acca5e81b0b3d7da4838f3bab
```
nping --tcp -p4444 --rf 10.10.10.10
```
I am not planning to commit it unless there is broader interest for this feature.

Thanks! Piece of cake to build and patch on Linux. Windows build a future project.

![220613_evil_bit](https://user-images.githubusercontent.com/17128740/173474625-6b671f27-c7d0-4b16-9b9d-e87a39b1fd4b.png)


@dmiller-nmap , @fyodor Please comment whether the patch should be merged in or not.

Thanks @nnposter!  I support the flag.  And I love how Wireshark handles it.  Maybe the option flag should be --evil?  That is what we were going to use for Nmap, though I don't think we ever actually implemented it.  If you are able to also document it in the usage text (-h option) and in nping/docs/nping-man.xml, that would be even better.  We can take care of rendering the XML into nroff man page format.  Here's where I joked about adding Evil Bit support to Nmap almost 20 years ago: https://seclists.org/nmap-announce/2003/8

I have used `--rf` solely to keep it consistent with naming used in `libnetutil` but I have no emotional attachment to it. For all I care, `--evil` it is.

The option is already printed by `-h`. I have not bothered with the man page update for a one-time use but I would of course cover it.

Thanks, @nnposter .  I'm glad Nping's most evil users will be able flag their malicious intent more clearly!  I'll re-open this until the merge.

The code has been committed as r38393, with the additional support for a corresponding environment variable. :wink:
The gist mentioned above has been retired.

I have a question: How does the flag behave with IPv6?

To my best knowledge, IPv6 header does not define such feature. [RFC 3514](https://www.ietf.org/rfc/rfc3514.txt) does sketch some future possibilities but they were never solidly codified. The best I could think of would be to leverage TCP options, as defined in [RFC 5841, section 4.12](https://datatracker.ietf.org/doc/html/rfc5841#section-4.12), but the obvious downside is being constrained to TCP, which might not satisfy more versatile evil-doers.