NMAP 7.70 not showing TLS1.2 protocols/ciphers

I noticed when using NMAP 7.70 to scan Windows Server 2008R2 and 2012R2, it does not return TLSv1.2 or any of its ciphers.  If I scan a Windows 2016 server with NMAP 7.70 it does return TLSv1.2 and ciphers.  
When I revert back to NMAP 7.60 and scan the same servers the 2008R2, 2012R2, and 2016 server scans do return TLSv1.2 and its ciphers.  It seems something is amiss when using version 7.70 to scan 2008r2 and 2012r2 servers to check ciphers.

Here is the command I used to test: nmap -sV --script ssl-enum-ciphers -p (port) (fqdn of server)

@neao89 - What service are you scanning?  Can you retry after adding `-vv` to the command line to see if there is a difference?

Scanning port 25.  After installing 7.70 again and running the same command with -vv at the end I only got back TLS 1.0 protocol/ciphers.  nmap -sV --script ssl-enum-ciphers -p 25 (servername) -vv
If I run it without the -vv I get TLS 1.0 and 1.1 protocols/ciphers but no 1.2.

Same issue here on MacOS 10.13.6

$ nmap --version
```
Nmap version 7.70 ( https://nmap.org )
Platform: x86_64-apple-darwin17.3.0
Compiled with: liblua-5.3.3 openssl-1.0.2n nmap-libssh2-1.8.0 libz-1.2.11 nmap-libpcre-7.6 nmap-libpcap-1.7.3 nmap-libdnet-1.12 ipv6
Compiled without:
Available nsock engines: kqueue poll select
```
$ nmap -vv -Pn -p443 --script=ssl-enum-ciphers ccmh-s.psu.edu
```
Starting Nmap 7.70 ( https://nmap.org ) at 2018-09-18 10:04 PDT
NSE: Loaded 1 scripts for scanning.
NSE: Script Pre-scanning.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:04
Completed NSE at 10:04, 0.00s elapsed
Initiating Parallel DNS resolution of 1 host. at 10:04
Completed Parallel DNS resolution of 1 host. at 10:04, 0.03s elapsed
Initiating Connect Scan at 10:04
Scanning ccmh-s.psu.edu (128.118.3.35) [1 port]
Discovered open port 443/tcp on 128.118.3.35
Completed Connect Scan at 10:04, 0.07s elapsed (1 total ports)
NSE: Script scanning 128.118.3.35.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:04
Completed NSE at 10:04, 5.33s elapsed
Nmap scan report for ccmh-s.psu.edu (128.118.3.35)
Host is up, received user-set (0.069s latency).
rDNS record for 128.118.3.35: ccmh.vmhost.psu.edu
Scanned at 2018-09-18 10:04:30 PDT for 5s

PORT    STATE SERVICE REASON
443/tcp open  https   syn-ack
| ssl-enum-ciphers: 
|   TLSv1.0: 
|     ciphers: 
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (secp256r1) - A
|       TLS_DHE_RSA_WITH_AES_256_CBC_SHA (dh 1024) - A
|       TLS_DHE_RSA_WITH_AES_128_CBC_SHA (dh 1024) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_3DES_EDE_CBC_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_MD5 (rsa 2048) - C
|     compressors: 
|       NULL
|     cipher preference: server
|     warnings: 
|       64-bit block cipher 3DES vulnerable to SWEET32 attack
|       Broken cipher RC4 is deprecated by RFC 7465
|       Ciphersuite uses MD5 for message integrity
|       Key exchange (dh 1024) of lower strength than certificate key
|_  least strength: C

NSE: Script Post-scanning.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:04
Completed NSE at 10:04, 0.00s elapsed
Read data files from: /usr/local/bin/../share/nmap
Nmap done: 1 IP address (1 host up) scanned in 5.66 seconds
```

If I use nmap 7.6 then it works.
Note the server actually supports TLS 1.0 & 1.2 in this case.

$ nmap --version
```
Nmap version 7.60 ( https://nmap.org )
Platform: x86_64-apple-darwin13.4.0
Compiled with: liblua-5.3.3 openssl-1.0.2l nmap-libssh2-1.8.0 libz-1.2.8 nmap-libpcre-7.6 nmap-libpcap-1.7.3 nmap-libdnet-1.12 ipv6
Compiled without:
Available nsock engines: kqueue poll select
```
$ nmap -vv -Pn -p443 --script=ssl-enum-ciphers ccmh-s.psu.edu
```
Starting Nmap 7.60 ( https://nmap.org ) at 2018-09-18 10:14 PDT
NSE: Loaded 1 scripts for scanning.
NSE: Script Pre-scanning.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:14
Completed NSE at 10:14, 0.00s elapsed
Initiating Parallel DNS resolution of 1 host. at 10:14
Completed Parallel DNS resolution of 1 host. at 10:14, 0.03s elapsed
Initiating Connect Scan at 10:14
Scanning ccmh-s.psu.edu (128.118.3.35) [1 port]
Discovered open port 443/tcp on 128.118.3.35
Completed Connect Scan at 10:14, 0.07s elapsed (1 total ports)
NSE: Script scanning 128.118.3.35.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:14
Completed NSE at 10:15, 25.98s elapsed
Nmap scan report for ccmh-s.psu.edu (128.118.3.35)
Host is up, received user-set (0.069s latency).
rDNS record for 128.118.3.35: ccmh.vmhost.psu.edu
Scanned at 2018-09-18 10:14:52 PDT for 26s

PORT    STATE SERVICE REASON
443/tcp open  https   syn-ack
| ssl-enum-ciphers: 
|   TLSv1.0: 
|     ciphers: 
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (secp256r1) - A
|       TLS_DHE_RSA_WITH_AES_256_CBC_SHA (dh 1024) - A
|       TLS_DHE_RSA_WITH_AES_128_CBC_SHA (dh 1024) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_3DES_EDE_CBC_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_MD5 (rsa 2048) - C
|     compressors: 
|       NULL
|     cipher preference: server
|     warnings: 
|       64-bit block cipher 3DES vulnerable to SWEET32 attack
|       Broken cipher RC4 is deprecated by RFC 7465
|       Ciphersuite uses MD5 for message integrity
|       Key exchange (dh 1024) of lower strength than certificate key
|   TLSv1.2: 
|     ciphers: 
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (secp256r1) - A
|       TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 (dh 1024) - A
|       TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 (dh 1024) - A
|       TLS_DHE_RSA_WITH_AES_256_CBC_SHA (dh 1024) - A
|       TLS_DHE_RSA_WITH_AES_128_CBC_SHA (dh 1024) - A
|       TLS_RSA_WITH_AES_256_GCM_SHA384 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_GCM_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_3DES_EDE_CBC_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_SHA (rsa 2048) - C
|       TLS_RSA_WITH_RC4_128_MD5 (rsa 2048) - C
|     compressors: 
|       NULL
|     cipher preference: server
|     warnings: 
|       64-bit block cipher 3DES vulnerable to SWEET32 attack
|       Broken cipher RC4 is deprecated by RFC 7465
|       Ciphersuite uses MD5 for message integrity
|       Key exchange (dh 1024) of lower strength than certificate key
|_  least strength: C

NSE: Script Post-scanning.
NSE: Starting runlevel 1 (of 1) scan.
Initiating NSE at 10:15
Completed NSE at 10:15, 0.00s elapsed
Read data files from: /usr/local/bin/../share/nmap
Nmap done: 1 IP address (1 host up) scanned in 26.60 seconds
```

nmap-7.70 in Fedora works just fine:

 nmap YYYYYYY -p 443 -Pn --script ssl-enum-ciphers.nse
Starting Nmap 7.70 ( https://nmap.org ) at 2018-10-09 11:12 EDT
Nmap scan report for XXXX (YY.YY.YY.YY)
Host is up (0.00051s latency).

PORT    STATE SERVICE
443/tcp open  https
| ssl-enum-ciphers: 
|   TLSv1.2: 
|     ciphers: 
|       TLS_DHE_RSA_WITH_AES_128_CBC_SHA (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_128_CBC_SHA256 (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_128_CCM (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_128_CCM_8 (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_256_CBC_SHA (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_256_CBC_SHA256 (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_256_CCM (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_256_CCM_8 (dh 2048) - A
|       TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 (dh 2048) - A
|       TLS_DHE_RSA_WITH_ARIA_128_GCM_SHA256 (dh 2048) - A
|       TLS_DHE_RSA_WITH_ARIA_256_GCM_SHA384 (dh 2048) - A
|       TLS_DHE_RSA_WITH_CHACHA20_POLY1305_SHA256 (dh 2048) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_ARIA_128_GCM_SHA256 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_ARIA_256_GCM_SHA384 (secp256r1) - A
|       TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 (secp256r1) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CCM (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CCM_8 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_GCM_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CCM (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CCM_8 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_GCM_SHA384 (rsa 2048) - A
|       TLS_RSA_WITH_ARIA_128_GCM_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_ARIA_256_GCM_SHA384 (rsa 2048) - A
|     compressors: 
|       NULL
|     cipher preference: client
|_  least strength: A

Nmap done: 1 IP address (1 host up) scanned in 1.73 seconds


I can confirm this issue on Arch. Using version `7.80`, no ciphers at all were detected with `ssl-enum-ciphers`. However, the service discovery was successful so I know it was successfully negotiating a TLS handshake for that:

```shell
> $ nmap -d -v4 -Pn -n -p 443 -sV --script ssl-enum-ciphers  10.83.0.8
Starting Nmap 7.80 ( https://nmap.org ) at 2019-09-13 15:34 PDT
Initiating Connect Scan at 15:34
Scanning 10.83.0.8 [1 port]
Discovered open port 443/tcp on 10.83.0.8
Completed Connect Scan at 15:34, 0.10s elapsed (1 total ports)
Overall sending rates: 10.44 packets / s.
Initiating Service scan at 15:34
Scanning 1 service on 10.83.0.8
Completed Service scan at 15:34, 16.80s elapsed (1 service on 1 host)
NSE: Script scanning 10.83.0.8.
NSE: Starting runlevel 1 (of 2) scan.
Initiating NSE at 15:34
NSE: [ssl-enum-ciphers 10.83.0.8:443] Trying protocol TLSv1.2.
NSE: [ssl-enum-ciphers 10.83.0.8:443] Trying protocol TLSv1.1.
NSE: [ssl-enum-ciphers 10.83.0.8:443] Trying protocol TLSv1.0.
NSE: [ssl-enum-ciphers 10.83.0.8:443] Trying protocol SSLv3.
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.2) Couldn't read a TLS record: ERROR
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.2) 64 ciphers and/or protocol rejected. (No handshake)
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.1) Couldn't read a TLS record: ERROR
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.1) 64 ciphers and/or protocol rejected. (No handshake)
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.0) Couldn't read a TLS record: ERROR
NSE: [ssl-enum-ciphers 10.83.0.8:443] (TLSv1.0) 64 ciphers and/or protocol rejected. (No handshake)
NSE: Finished ssl-enum-ciphers against 10.83.0.8:443.
Completed NSE at 15:34, 1.22s elapsed
Nmap scan report for 10.83.0.8
Host is up, received user-set (0.096s latency).
Scanned at 2019-09-13 15:34:23 PDT for 19s

PORT    STATE SERVICE   REASON  VERSION
443/tcp open  ssl/https syn-ack
|_http-server-header: Microsoft-HTTPAPI/2.0
Final times for host: srtt: 95659 rttvar: 95659  to: 478295

NSE: Script Post-scanning.
NSE: Starting runlevel 1 (of 2) scan.
Initiating NSE at 15:34
Completed NSE at 15:34, 0.00s elapsed
NSE: Starting runlevel 2 (of 2) scan.
Initiating NSE at 15:34
Completed NSE at 15:34, 0.00s elapsed
Read from /usr/bin/../share/nmap: nmap-payloads nmap-service-probes nmap-services.
Service detection performed. Please report any incorrect results at https://nmap.org/submit/ .
Nmap done: 1 IP address (1 host up) scanned in 19.31 seconds
```

Here is the result with `7.60`:

```shell
Nmap scan report for 10.83.0.8
Host is up, received user-set (0.095s latency).
Scanned at 2019-09-13 16:00:23 PDT for 24s

PORT    STATE SERVICE REASON  VERSION
443/tcp open  https   syn-ack Microsoft-HTTPAPI/2.0
|_http-server-header: Microsoft-HTTPAPI/2.0
| ssl-enum-ciphers: 
|   TLSv1.2: 
|     ciphers: 
|       TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 (secp521r1) - A
|       TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 (secp521r1) - A
|       TLS_RSA_WITH_AES_256_GCM_SHA384 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_GCM_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_256_CBC_SHA256 (rsa 2048) - A
|       TLS_RSA_WITH_AES_128_CBC_SHA256 (rsa 2048) - A
|     compressors: 
|       NULL
|     cipher preference: server
|_  least strength: A
```

Using `openssl` directly or `testssl.sh` the cipher suites are detected.

nmap shows the target OS as `Microsoft Windows 2012`, but I haven't confirmed that with the client.

I have the exact same problem. The enumeration are not returning anything in version 7.7 and 7.8, but are working in version 7.6. The command used are: **nmap -p 443 --script ssl-enum-ciphers 'host'**. The host scanned only support TLS1.2 (SSL, TLS<1.2 is disabled). Using verbose or debug logging does not give any other clue. The problem does not seem to be general problem, as I have scanned other hosts and it works fine also for TLS1.2.

After some more testing I found the problem. In the ssl-enum-ciphers.nse script there is a section called "-- Get TLS extensions". In version 7.6, this section looks like the below. The 2 lines related to "Claim to support every EC point format" are missing in version 7.7 and 7.8. By injecting these lines it starts working again
```
-- Get TLS extensions
local function base_extensions(host)
  local tlsname = tls.servername(host)
  return {
    -- Claim to support common elliptic curves
    ["elliptic_curves"] = tls.EXTENSION_HELPERS["elliptic_curves"](tls.DEFAULT_ELLIPTIC_CURVES),
    -- Claim to support every EC point format
    ["ec_point_formats"] = tls.EXTENSION_HELPERS["ec_point_formats"](sorted_keys(tls.EC_POINT_FORMATS)),
    -- Enable SNI if a server name is available
    ["server_name"] = tlsname and tls.EXTENSION_HELPERS["server_name"](tlsname),
  }
end
```

@lidvarko 
i can confirm your solution works

Good! Seems like this script (an others) was modified and the lines removed in the commit called "**Use default EC curves instead of all throughout.**". See https://github.com/nmap/nmap/commit/41199b7eea5a84babed50bfae20461cf5d0c0d15#diff-7aa16b04e5a620bdd1f9c0664f8decaa

This change seem to affect other script also.

Thanks for digging into this @lidvarko!

The commit message was "Use default EC curves instead of all throughout". Seems like it was probably done to speed things up, but this should be reverted as it breaks compatibility and leads to false negatives.

I'm not sure how we can get one of the contributors to take a look.

It looks like some servers reject a ClientHello if Supported Point Formats extension is not included. This behavior is not in compliance with RFC 4492, section 4, which makes the extension optional:

> A client that proposes ECC cipher suites may choose not to include these extensions.  In this case, the server is free to choose any one of the elliptic curves or point formats listed in Section 5.

RFC 8422, section 5.1.2, deprecates the extension altogether:

> Implementations of this document MUST support the uncompressed format for all of their supported curves and MUST NOT support other formats for curves defined in this specification.  For backwards compatibility purposes, the point format list extension MAY still be included and contain exactly one value: the uncompressed point format (0).  RFC 4492 specified that if this extension is missing, it means that only the uncompressed point format is supported, so interoperability with implementations that support the uncompressed format should work with or without the extension.

The extension has been added back in r38199, albeit offering only the "uncompressed" format.