ssl-enum-ciphers should display ECDH curve name

ssl-enum-ciphers should display ECDH curve name, not just curve strength. For example instead of `(dh 521)` we should see `(secp521r1)`, as defined in [RFC 4492, Section 5.1.1](https://tools.ietf.org/html/rfc4492#section-5.1.1).